body {
	background-color: #FCFCFB;
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic ProN", "Meiryo UI", Meiryo, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.uk-form legend {
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

code,
kbd,
pre,
samp {
	font-family: Osaka-mono, Consolas, monospace;
}

.form-width-mediumlarge {
	width: 300px;
}
.form-width-semilarge {
	width: 400px;
}

@media (max-width: 767px) {
	.icon-bg:before {
		display: none;
	}
}
.icon-bg:before {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 40px;
	color: #CCCCCC;
}

.margin-mini {
	margin-top: 5px!important;
	margin-bottom: 5px!important;
}

.margin-bottom-mini {
	margin-bottom: 5px;
}

.genres legend {
	font-size: 16px;
	line-height: 28px;
}

label + label {
	margin-left: 6px;
}
@media (max-width: 767px) {
	.genres label {
		display: block;
		float: left;
		min-width: 50%;
		line-height: 2.5;
	}

	.genres label + label {
		margin-left: 0;
	}
}

#narrator_other,
#character_template,
#source_section {
	display: none;
}
#original_template,
#parent_template {
	display: none !important;
}

#originals input,
#parents input {
	display: block;
}

.toggle_visible {
	cursor: pointer;
}
.toggle_visible:hover {
	text-decoration: underline;
}
.toggle_visible:before {
	width: 1em;
	text-align: center;
}
.toggle_visible + div {
	display: none;
}
.toggle_visible.uk-icon-caret-right {
	color: #666;
}

.uk-alert-warning.uk-icon-warning-sign:before {
	margin-right: 0.5em;
}
