<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>カテゴリページ用 ソースジェネレータ</title>
  <!--[if lt IE 9]><script src="../../js/html5.js"></script><![endif]-->
  <meta name="viewport" content="width=device-width,minimum-scale=1.0">
  <link rel="stylesheet" href="../../css/uikit.almost-flat.min.css">
  <link rel="stylesheet" href="../../css/main.css" media="screen">
</head>
<body class="uk-container uk-container-center uk-margin">
  <header>
    <h1>カテゴリページ用 ソースジェネレータ</h1>
    <nav><ul class="uk-subnav uk-subnav-pill">
      <li><a href="../original/">オリジナルSSスレ</a></li>
      <li><a href="../fanfic/">二次創作SSスレ</a></li>
      <li class="uk-active"><a href="./">カテゴリページ</a></li>
    </ul></nav>
    <p>カテゴリページ用の <a href="http://ss.vip2ch.com/">SS-Wiki</a> ソースジェネレータです。</p>
  </header>

  <div id="main">
    <noscript><p style="color:#FF0040">このツールを利用するには JavaScript を有効にする必要があります。</p></noscript>

    <h2>フォーム</h2>

    <form action="#" id="form" class="uk-form" onsubmit="return false">
      <h3>ページ名</h3>
      カテゴリ: <input type="text" name="title" class="form-width-semilarge" required>
      <p class="uk-form-help-block">基本的には Wikipedia のカテゴリページに準拠します。</p>

      <h3>親カテゴリ</h3>
      <label><input type="checkbox" name="genre" value="二次創作" id="fanfic" checked> 二次創作</label>
      <div id="parents" class="uk-form-controls">
        <input type="text" name="parent" class="form-width-mediumlarge uk-form-row" id="parent_template">
        <input type="text" name="parent" class="form-width-mediumlarge uk-form-row">
      </div>
      <p class="uk-form-help-block">複数指定できます。</p>

      <h3>概要文</h3>
      <textarea name="summary" class="uk-form-width-large" rows=4></textarea>
      <p class="uk-form-help-block">MediaWiki 文法が使用できます。</p>

      <h3>本文</h3>
      <p><a id="append_header" href="javascript:void(0)"><i class="uk-icon-plus-sign"></i> 見出しの追加</a></p>
      <textarea name="text" class="uk-form-width-large" rows=15></textarea>
      <p class="uk-form-help-block">MediaWiki 文法が使用できます。</p>

      <h3>関連リンク</h3>
      <textarea name="links" class="uk-form-width-large" rows=4></textarea>
      <p class="uk-form-help-block">一つの行に一つのリンクを指定します。MediaWiki 文法が使用できます。</p>

      <p>
        <button type="button" id="generate_button" class="uk-button uk-button-primary"><i class="uk-icon-code"></i> ソースを生成する</button>
      </p>
    </form>

    <div id="source_section" class="uk-margin">
      <hr>

      <h2>ソース</h2>

      <div id="alerts"></div>

      <p>以下のソースをコピーして、SS-Wiki の該当ページの編集画面に貼り付けてください。</p>

      <pre id="result"></pre>

      <p id="edit_link"><a></a></p>
    </div>
  </div>

  <hr>

  <footer>
    <nav><ul class="uk-breadcrumb">
      <li><a href="../../">SS-Wiki Support Tools</a></li>
      <li><span>ソースジェネレータ</span></li>
      <li class="uk-active"><span>カテゴリページ</span></li>
    </ul></nav>
  </footer>

  <script type="text/x-template" id="template">
{{=data.summary}}

{{? data.text}}
{{=data.text}}

{{?}}
{{? data.links}}
== 関連リンク ==
{{~ data.links}}
* {{=value}}
{{~}}

{{?}}
{{=data.categories}}
  </script>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../../js/gen.min.js"></script>
  <script src="../../js/category.min.js"></script>
</body>
</html>